<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agriculture schemes</title>
    <link rel="stylesheet" href="../static/css/agri.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    
  <section>
    <div class="container-fluid py-1 ">
      <nav class="navbar navbar-expand-lg bg-body-tertiary px-md-5 fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand " href="#"><img src="../static/images/scheme-cee-logo.png" alt="logo" class="img-fluid" style="height: 2.5rem;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Schemes
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/agriculture">Agricultural schemes</a></li>
                    <li><a class="dropdown-item" href="/Education">Educational schemes</a></li>
                    <li><a class="dropdown-item" href="/SocialWelfare">Social welfare schemes</a></li>
                    <li><a class="dropdown-item" href="/Entrepreneur">Entrepreneur Schemes</a></li>
                    <li><a class="dropdown-item" href="/Health">Health Schemes</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/Ask Assistant">Assistant</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">FAQs</a>
                </li>
                
                
              </ul>
              <div>
                  <button class="btn btn-outline-primary blue-text" type="button">Login</button>
              </div>
            </div>
          </div>
      </nav>
    </div>
  </section>
  
    <section>
        <div class="container-fluid blue-background banner border-2 py-4 " >
          <div class="row text-white py-3 back">
            <a href="/"><p><span class="p-1"><i class="bi bi-arrow-left"></i></span>back</p></a>
          </div>
          <div class="row py-3 text-white ">
            <h2 class="underlinehead">Agriculture Schemes | Ministry of Agriculture and Farmers' Welfare</h2>
          </div>
        </div>
    </section>
    <section>
        <div class="container-fluid bgcard">
            <div class="row ">

                <div class="accordion rounded-5" id="accordionFlushExample">
                    <div class="accordion-item  m-5">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <h5 class="txtcolor">1.Old Age Pension Scheme under Chief Minister’s Uzhavar Padhukappu Thittam</h5>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="txtcolor-light">
                                <span>Description: </span>The 'Old Age Pension Scheme under Chief Minister’s Uzhavar Padhukappu Thittam' is a state scheme that was launched by the Social Welfare and Women Empowerment Department, Tamil Nadu
                            </p>
                            <p class="txtcolor-light">
                                <span>Benefits: </span>The scheme aims to provide a pension of ₹1,000/- to old-age farmers and destitute agricultural laborers who have a membership card under Chief Minister’s Uzhavar Padhukappu Thittam (CMPUT).
                                <ul>
                                    <li>Pension: ₹1,000/- per month.</li>
                                    <li>Free Clothes during Pongal and Deepavali:
                                        <ul>
                                            <li>One free dhoti to a male pensioner.</li>
                                            <li>One free saree to a female pensioner.</li>
                                        </ul>
                                    </li>
                                    <li>Free Rice in Anganwadi Centres:
                                        <ul>
                                            <li>2kg/month for those who are taking a nutritious meal.</li>
                                            <li>4kg/month for those who are not taking a nutritious meal.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>
                            <div class="row">
                                <div class="col-md-3 ">
                                  <a href="/Ask Assistant" ><button class="button border-1 ask a"><span><i class="bi bi-robot"></i></span>Ask Assistant</button></a>
                                </div>
                                
                            </div>
                            
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item m-5">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <h5 class="txtcolor">2. Chief Minister’s Farmers Security Scheme</h5>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="txtcolor-light">
                                <span>Description: </span>The 'Chief Minister’s Farmers Security Scheme' is an initiative by the Social Welfare Society of Tamil Nadu, aimed at safeguarding the livelihoods of farmers across the state. It strives to provide comprehensive support and assistance to farmers, recognizing their vital role in the agricultural sector.
                                <ul>
                                    <li>Pension: Eligible farmers and destitute agricultural laborers receive a monthly pension of ₹1,000/-.</li>
                                    <li>Festival Clothing Assistance: During Pongal and Deepavali festivals, male pensioners are provided with a free dhoti, while female pensioners receive a free saree.</li>
                                    <li>Food Security: Through this scheme, farmers have access to free rice distribution in Anganwadi Centers, ensuring nutritional support for themselves and their families.</li>
                                </ul>
                            </p>
                            <div class="row">
                                <div class="col-md-3 ">
                                  <a href="/Ask Assistant" ><button class="button border-1 ask a"><span><i class="bi bi-robot"></i></span>Ask Assistant</button></a>
                                </div>
                                
                            </div>
                            
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item m-5">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <h5 class="txtcolor">3. Agricultural Prosperity Initiative</h5>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="txtcolor-light">
                                <span>Description: </span>The 'Agricultural Prosperity Initiative' is a pioneering program launched by the Agricultural Development Authority of Tamil Nadu, dedicated to fostering sustainable growth and prosperity in the agricultural sector.
                                <ul>
                                    <li>Financial Support: Participating farmers are provided with financial assistance to enhance agricultural productivity and invest in modern farming techniques.</li>
                                    <li>Expert Guidance: Through specialized training and mentorship programs, farmers receive expert guidance on sustainable farming practices, enabling them to optimize yields while preserving the environment.</li>
                                    <li>Market Connectivity: The initiative facilitates market connections, ensuring fair trade and better returns for farmers, thereby promoting economic stability and growth in rural communities.</li>
                                </ul>
                            </p>
                            
                            <div class="row">
                                <div class="col-md-3 ">
                                  <a href="/Ask Assistant" ><button class="button border-1 ask a"><span><i class="bi bi-robot"></i></span>Ask Assistant</button></a>
                                </div>
                                
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="footer">

        <div class="container footer-top">
          <div class="row gy-4 align-items-center">
            <div class="col-lg-4 col-md-12 footer-about text-center">
              <a href="index.html" class="logo d-flex align-items-center">
                <span><img src="../static/images/scheme-cee-high-resolution-logo-transparent.png" alt="logo" class="img-fluid w-75 my-5"></span>
              </a>
              <p>Explore government schemes effortlessly through our intuitive website interface. Quickly find schemes relevant to your needs with our user-friendly search and filter options.</p>
              <div class="social-links d-flex mt-4 justify-content-center">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-12 footer-links my-5 text-center">
              <h4>Links</h4>
              <ul >
                <li><a href="/">Home</a></li>
                <li><a href="/">Schemes</a></li>
                <li><a href="/Assistant">Assistant</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
    
            <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start my-5 ">
              <div class="row mb-2">
                <h4>Contact Us</h4>
                <p class="mt-4"><strong>Phone:</strong> <span>+91-7969076111</span></p>
                <p><strong>Email:</strong> <span>Customer.support@schemecee.in</span></p>
              </div>
              <div class="row">
                <h4>Maintained By</h4>
                <p>Digital India Corporation(DIC)
                  Ministry of Electronics & IT (MeitY)
                  Government of India®</p>
                
              </div>
              
            </div>
    
          </div>
        </div>
        <hr>
        <div class="container copyright text-center mt-4">
          <p>&copy; <span>Copyright</span> <strong class="px-1">Schemecee</strong> <span> 2022 - 2024. All Rights Reserved.</span></p>
          
        </div>
    
      </footer>
    
</body>
</html>