<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education schemes</title>
    <link rel="stylesheet" href="../static/css/agri.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    
  <section>
    <div class="container-fluid py-1 ">
      <nav class="navbar navbar-expand-lg bg-body-tertiary px-md-5 fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand " href="#"><img src="../static/images/scheme-cee-logo.png" alt="logo" class="img-fluid" style="height: 2.5rem;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Schemes
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/agriculture">Agricultural schemes</a></li>
                    <li><a class="dropdown-item" href="/Education">Educational schemes</a></li>
                    <li><a class="dropdown-item" href="/SocialWelfare">Social welfare schemes</a></li>
                    <li><a class="dropdown-item" href="/Entrepreneur">Entrepreneur Schemes</a></li>
                    <li><a class="dropdown-item" href="/Health">Health Schemes</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/Ask Assistant">Assistant</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">FAQs</a>
                </li>
                
                
              </ul>
              <div>
                  <button class="btn btn-outline-primary blue-text" type="button">Login</button>
              </div>
            </div>
          </div>
      </nav>
    </div>
  </section>
  
    <section>
        <div class="container-fluid blue-background banner border-2 py-4 " >
          <div class="row text-white py-3 back">
            <a href="/"><p><span class="p-1"><i class="bi bi-arrow-left"></i></span>back</p></a>
          </div>
          <div class="row py-3 text-white ">
            <h2 class="underlinehead">Educational Schemes | Ministry of Education</h2>
          </div>
        </div>
      </section>
    <section>
        <div class="container-fluid bgcard">
            <div class="row ">

                <div class="accordion rounded-5" id="accordionFlushExample">
                    <div class="accordion-item  m-5">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <h5 class="txtcolor">1. Post Graduate Scholarship for GATE/GPAT Qualified Students for Pursuing M.Tech/M.E./M.Pharm-UGC</h5>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="txtcolor-light">
                                <span>Description: </span>The objective of the scheme is to help and attract young and talented graduate students to pursue education at the Post Graduate Level in Higher Education Institutions.
                            </p>
                            <p class="txtcolor-light">
                                <span>Benefits: </span>The scheme aims to provide a pension of ₹1,000/- to old-age farmers and destitute agricultural laborers who have a membership card under Chief Minister’s Uzhavar Padhukappu Thittam (CMPUT).
                                <ul>
                                    <li>The Scholarship under the scheme is ₹12,400/- per month per student.</li>
                                    <li>An annual contingency of ₹5,000/- will be given to the eligible student.</li>
                                </ul>
                            </p>
                            <p class="txtcolor-light">
                                <span>Eligible: </span>The GATE/GPAT qualified students who have taken admission in M.E/M.Tech/M.Pharm courses and integrated dual degree programme in Central, State, Deemed, and Private Universities will be provided scholarships by UGC.
                               
                            </p>
                            <div class="row">
                                <div class="col-md-3 ">
                                  <a href="/Ask Assistant" ><button class="button border-1 ask a"><span><i class="bi bi-robot"></i></span>Ask Assistant</button></a>
                                  
                                </div>
                                
                            </div>
                            
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item m-5">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <h5 class="txtcolor">2. MANAGE Internship Programme</h5>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="txtcolor-light">
                                <span>Description: </span>MANAGE Internship Programme is open to students from the disciplines of Extension Education, Economics, Sociology, Psychology, MSW, Journalism, Communication, and Environmental Science. 
                                
                            </p>
                            <p class="txtcolor-light">
                                <span>Benefits: </span>Stipend
                                <ul>
                                    <li>For 3 months Internship Programme
                                        ₹ 10,000/- per month with free boarding and lodging.
                                        </li>
                                    <li>For 6 months Internship Programme
                                        ₹ 35,000/- per month.
                                        </li>
                                    
                                </ul>
                            </p>
                            <p class="txtcolor-light">
                                <span>Eligible: </span>
                                <ul>
                                    <li>The applicant should have completed/ongoing PhD or M.Sc in Extension Education/ Economics/ Sociology/ Psychology/ MSW/ Journalism/ Communication/ Environmental Science.</li>
                                    <li>The applicant should have secured an OGPA of a minimum of 8 out of 10 (minimum 80%).</li>
                                    <li>The applicant should have fluency in English.</li>
                                    <li>The applicant should have good writing skills.</li>
                                </ul>
                            </p>
                            <div class="row">
                                <div class="col-md-3 ">
                                  <a href="/Ask Assistant" ><button class="button border-1 ask a"><span><i class="bi bi-robot"></i></span>Ask Assistant</button></a>

                                    
                                </div>
                                
                            </div>
                            
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item m-5">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <h5 class="txtcolor">3. AICTE – Saksham Scholarship Scheme For Specially-Abled Student (Diploma)</h5>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="txtcolor-light">
                                <span>Description: </span>Saksham is a Scholarship Scheme by the Ministry of Education, implemented by AICTE, aimed at providing encouragement and support to specially-abled children to pursue technical education. This is an attempt to give every young student, who is otherwise specially abled, the opportunity to study further and prepare for a successful future through technical education/ knowledge. 
                            </p>
                            <p class="txtcolor-light">
                                <span>Benefits: </span>Stipend
                                <ul>
                                    <li>₹50,000/- per annum for every year of study i.e. maximum 3 years for the first year admitted students and maximum 2 years for the second year admitted students through lateral entry as lump sum amount towards payment of college fee, purchase of computer, stationeries, books, equipment, software, etc.</li>
                                    <li>After selection, the awardee will be paid a scholarship through DBT mode on annual basis.</li>
                                    
                                </ul>
                            </p>
                            <p class="txtcolor-light">
                                <span>Eligibility: </span>
                                <ul>
                                    <li>The candidate should be admitted to the First year of the Diploma level course OR the Second year of the Diploma level course through lateral entry in any of the AICTE-approved institutions of the respective year.</li>
                                    <li>Specially-abled students have a disability of not less than 40%.</li>
                                    <li>Family income from all sources should not be more than Rs. 8 lakh per annum during the current financial year. A valid income certificate issued by State /UT Government needs to be enclosed.</li>
                                </ul>
                            </p>
                            <div class="row">
                                <div class="col-md-3 ">
                                  <a href="/Ask Assistant" ><button class="button border-1 ask a"><span><i class="bi bi-robot"></i></span>Ask Assistant</button></a>

                                </div>
                                
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="footer">

        <div class="container footer-top">
          <div class="row gy-4 align-items-center">
            <div class="col-lg-4 col-md-12 footer-about text-center">
              <a href="index.html" class="logo d-flex align-items-center">
                <span><img src="../static/images/scheme-cee-high-resolution-logo-transparent.png" alt="logo" class="img-fluid w-75 my-5"></span>
              </a>
              <p>Explore government schemes effortlessly through our intuitive website interface. Quickly find schemes relevant to your needs with our user-friendly search and filter options.</p>
              <div class="social-links d-flex mt-4 justify-content-center">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-12 footer-links my-5 text-center">
              <h4>Links</h4>
              <ul >
                <li><a href="/">Home</a></li>
                <li><a href="/">Schemes</a></li>
                <li><a href="/Assistant">Assistant</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
    
            <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start my-5 ">
              <div class="row mb-2">
                <h4>Contact Us</h4>
                <p class="mt-4"><strong>Phone:</strong> <span>+91-7969076111</span></p>
                <p><strong>Email:</strong> <span>Customer.support@schemecee.in</span></p>
              </div>
              <div class="row">
                <h4>Maintained By</h4>
                <p>Digital India Corporation(DIC)
                  Ministry of Electronics & IT (MeitY)
                  Government of India®</p>
                
              </div>
              
            </div>
    
          </div>
        </div>
        <hr>
        <div class="container copyright text-center mt-4">
          <p>&copy; <span>Copyright</span> <strong class="px-1">Schemecee</strong> <span> 2022 - 2024. All Rights Reserved.</span></p>
          
        </div>
    
      </footer>
    
</body>
</html>